
bootstrap_url: {{ bootstrap_url }}:{{ bootstrap_port }}

customer_key: {{ cluster_key }}

cluster_name: {{ cluster_name }}

# Cluster IPs
master_discovery: static
master_list:
- {{ master_ip0 }}
# - {{ master_ip1 }}
# - {{ master_ip2 }}

agent_list:
- {{ priv_agent_ip0 }}
# - {{ priv_agent_ip1 }}
# - {{ priv_agent_ip2 }}
# - {{ priv_agent_ip3 }}
# - {{ priv_agent_ip4 }}

# public_agent_list:
# - {{ pub_agent_ip0 }}
# - {{ pub_agent_ip1 }}

# DNS (Azure)
resolvers:
- {{ dns_resolver }}

# Exhibitor backend, uses internal DC/OS storage
exhibitor_storage_backend: static

# Security
ssh_key_path: /genconf/dcos-key.pem
ssh_port: 22
ssh_user: dcos
security: disabled

# Performance and tuning
process_timeout: 360